# Ignoră fișierele sensibile și generate automat
.env
CodeNest/settings.py

# Ignoră fișierele compilate Python
*.pyc
__pycache__/

# Ignoră baza de date SQLite
db.sqlite3

# Ignoră folderele de mediu virtual
venv/
*.venv/
.env/
